<!DOCTYPE html>
<html>
  <%- include('head'); -%>

  <body>
    <%- include('nav',{user}); -%>


    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/images/<%= data.Image %>"
        alt="product image"
        width="300"
        height="300"
      />
      <h1 class="display-5 fw-bold"><%= data.Name %></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><%= data.Description %></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-primary btn-lg px-4 gap-3"
            onclick="clickFun()"
          >
            Back to Products
          </button>
        </div>
      </div>
    </div>

    <!---------- End of Wrapper ----------->
  </body>
  <!-- JavaScript Bundle with Popper -->
  <%- include('foot'); -%>
  <script>
    const clickFun = () => {
      window.location = '/products';
    };
  </script>
</html>
